@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');

:root{
    --header-color:rgb(126, 2, 2);
    --background-color: rgb(255, 240, 248);
    --li-color: rgb(255, 239, 244);
}

.home{
    display: flex;
    flex-direction: row;  
    justify-content: space-between; 
    align-items: center; 
    color: var(--header-color);
    font-family: "EB Garamond", serif;
    font-size: xx-large;
}

.benvekopek{
    margin: 20px;
    width: 400px;
    height: auto;
    border-radius: 50%;
    border: solid var(--header-color) 2px;
    padding: 5px;
}

.writing{
    padding: 0;
    margin: 30px;
    background-color: transparent;
}
